<script>
  export let onclick = () => {};
  export let href = "#";
  export let size = "small";
  export let button = false;

  let sizeClass =
    "get-started text-white font-bold rounded outline-none focus:outline-none hover:shadow-lg ease-linear transition-all duration-150 bg-red-400 active:bg-red-500 uppercase shadow";

  switch (size) {
    case "small":
      sizeClass += "text-xs px-12 py-2";
      break;
    case "medium":
      sizeClass += "text-sm px-6 py-4 mr-1 mb-2";
      break;
    case "large":
      sizeClass += "text-md px-6 py-2";
      break;
    default:
      sizeClass += "text-sm px-6 py-4 mr-1 mb-2";
      break;
  }
</script>

{#if !button}
  <a {href} target="_blank" class={sizeClass} {...$$restProps}>
    <slot />
  </a>
{:else}
  <button class={sizeClass} {...$$restProps} on:click={onclick}>
    <slot />
  </button>
{/if}
