<script>
  export let empty = false;
</script>

{#if !empty}
  <div
    class="relative flex flex-col break-words mb-6 shadow-lg rounded-md bg-white"
    style="max-width: 290px; height: 350px;"
  >
    <img
      alt="..."
      src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
      class="w-full object-cover align-middle rounded-t-md"
      style="height: 130px;"
    />
    <div class="flex flex-col justify-between p-4 pb-3 h-full">
      <div>
        <h1 class="text-gray-500 text-sm">
          <i class="fas fa-lock mr-2" />
          BSE Students Only
        </h1>
        <h1 class="text-gray-900 text-xl mt-1">Subject Code: SWE3053</h1>
        <p class="text-gray-700 mt-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit quia...
        </p>
      </div>
      <div class="flex items-center">
        <img
          class="rounded-full h-10 mr-3"
          src="/assets/img/team-2-800x800.jpg"
          alt="avatar"
        />
        <div class="text-gray-700">
          <h3>Ding Nick Hong</h3>
          <h4>Aug 18</h4>
        </div>
      </div>
    </div>
  </div>
{:else}
  <div style="width: 290px;" />
{/if}
