<script>
  import { Link } from "svelte-routing";

  // core components
  import IndexNavbar from "components/Navbars/IndexNavbar.svelte";
  import ALSCard from "components/Cards/ALSCard.svelte";
  import Footer from "components/Footers/Footer.svelte";
  import ActionButton from "components/Buttons/ActionButton.svelte";

  const patternVue = "/assets/img/pattern_svelte.png";

  let alsposts = Array(8);

  function seeMoreHandler({ posts }) {
    let appended_posts = Array(8);
    let new_alsposts = [...posts, ...appended_posts];
    return new_alsposts;
  }

  function seeMore({ posts }) {
    alsposts = seeMoreHandler({ posts });
    console.log(alsposts);
  }
</script>

<IndexNavbar />
<div class="header relative pt-16 flex flex-col h-screen">
  <div class="container mx-auto items-center flex flex-wrap">
    <div class="py-12 w-full text-center">
      <h2 class="font-semibold text-4xl text-blueGray-600">Mentor's Forum</h2>
      <h3 class="font-semibold mt-3 text-lg text-blueGray-500">
        Find your mentor here
      </h3>
    </div>
    <div class="w-full p-5 shadow-md rounded-md bg-blueGray-100 mb-12">
      <input
        class="border-none w-full rounded-md h-12 text-blueGray-400"
        placeholder="Search here..."
        type="text"
      />
    </div>
    <div class="flex flex-wrap justify-between">
      {#each alsposts as card}
        <ALSCard />
      {/each}
      <ALSCard empty />
      <ALSCard empty />
    </div>
    <div class="flex w-full justify-center py-12">
      <ActionButton button onclick={() => seeMore({ posts: alsposts })}
        >See More</ActionButton
      >
    </div>
  </div>
</div>
