<script>
  import { link } from "svelte-routing";
  import Path from "components/Controllers/pathcontroller.js";

  // core components
  import ActionButton from "components/Buttons/ActionButton.svelte";

  let navbarOpen = false;
  const icon = "/assets/img/icon.png";

  function setNavbarOpen() {
    navbarOpen = !navbarOpen;
  }

  let path = Path.getPath();

  function nav({ pathname }) {
    Path.setPath({ pathname });
    path = Path.getPath();
    console.log($path);
  }

  nav({ pathname: location.pathname });

  let navlinks = {
    home: "/",
    mentorForum: "/mentor-forum",
    mySchedule: "/my-schedule",
  };
</script>

<nav
  class="top-0 fixed z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white shadow"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:flex lg:justify-center lg:items-center"
    >
      <a
        use:link
        class="text-red-400 text-xl font-bold leading-relaxed inline-block mr-4 whitespace-nowrap uppercase"
        href={navlinks.home}
      >
        <img src={icon} alt="icon" />
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        on:click={setNavbarOpen}
      >
        <i class="fas fa-bars" />
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center {navbarOpen ? 'block' : 'hidden'}"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            use:link
            class="hover:text-blueGray-700 {$path === navlinks.home
              ? 'text-blueGray-900'
              : 'text-blueGray-500'} px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="/"
            on:click={() => nav({ pathname: navlinks.home })}
          >
            <i class="fas fa-home text-lg leading-lg mr-2" />
            Home
          </a>
        </li>
        <li class="flex items-center">
          <a
            use:link
            class="hover:text-blueGray-700 {$path === navlinks.mentorForum
              ? 'text-blueGray-900'
              : 'text-blueGray-500'} px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="/mentor-forum"
            on:click={() => nav({ pathname: navlinks.mentorForum })}
          >
            <i class="fas fa-users text-lg leading-lg mr-2" />
            Mentor's Forum
          </a>
        </li>
        <li class="flex items-center">
          <a
            use:link
            href="/my-schedule"
            class="hover:text-blueGray-700 {$path === navlinks.mySchedule
              ? 'text-blueGray-900'
              : 'text-blueGray-500'} px-3 py-2 flex items-center text-xs uppercase font-bold"
            on:click={() => nav({ pathname: navlinks.mySchedule })}
          >
            <i class="fas fa-calendar-alt text-lg leading-lg mr-2" />
            My Schedule
          </a>
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center mr-3">
          <a
            class="hover:text-blueGray-500 text-blueGray-700 px-3 py-2 flex items-center text-xs uppercase font-bold"
            href="https://github.com/creativetimofficial/notus-svelte?ref=ns-index-navbar"
            target="_blank"
          >
            <i class="text-blueGray-400 fab fa-github text-lg leading-lg" />
            <span class="lg:hidden inline-block ml-2">Star</span>
          </a>
        </li>
        <li class="flex items-center">
          <ActionButton size="small">LOG IN</ActionButton>
        </li>
      </ul>
    </div>
  </div>
</nav>
